*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.profile-container {
    color: #474747;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-photo {
    text-align: center;
    margin-bottom: 20px;
}

.profile-details{
    color: #474747;
}

.profile-photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}

.profile-details h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
}

.profile-details p {
    text-align: center;
    margin: 5px 0;
}

.contact-info {
    color: #474747;
    margin-top: 20px;
}

h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    color: #333;
}

p, ul {
    margin: 10px 0;
    line-height: 1.6;
}

.profile-button{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.profile-btn{
    
    padding: 8px 15px;
    border-radius: 5px;
    border: none;   
    background-color: #007bff;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

.profile-btn:hover{
    background-color:#007bff9b ;
   
}